*, 
*::before, 
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #ecedee;
    --secondary-color: #212121;
    --body-color: #fff;
    --blob-color: #2d2e32;
}
.dark-theme {
    --primary-color: #212121;
    --secondary-color: #fff;
    --body-color: #212121;
    --blob-color: rgb(236, 233, 233);
}
.fa-github, .fa-twitter {
    pointer-events: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    background-image: url();
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    position: relative;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 1rem;
    margin: 0;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.45);
    z-index: 1;
}
.navbar-list, .light-dark {
    display: none;
}
.heading > h2 {
    color: var(--secondary-color);
    font-size: clamp(1rem, 1.1rem, 1.5rem);
}
.hamburger {
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;
    display: flex;
    align-items: baseline;
    color: var(--secondary-color);
}
.hamburger > img {
    width: 24px;
}
.side-menu {
    position: fixed;
    top: 56px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: left 0.3s ease, height 0.3s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -190px;
    width: 180px/*clamp(180px, 27%, 360px)*/;
    height: 100vh;
    background-color: var(--body-color);
    color: var(--secondary-color);
    z-index: 1;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    transition: left 0.3s ease;
    overflow: hidden;
}
.side-header {
    width: 90%;
    margin: 1rem auto;
    padding: .5rem 0 .2rem 0;
    border-bottom: 2px solid #3f3d56;
    text-align: center;
}
.side-header > h2 {
    font-size: clamp(1rem, 1.1rem, 1.5rem);
    color: var(--secondary-color);
}
.ld-toggle {
    /*position: absolute;
    left: 10px;
    bottom: 10%;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .3rem;
    margin-top: 2rem;
}
.ld-toggle > span {
    font-size: .8rem;
    color: var(--secondary-color);
}
.light-dark2 {
    display: block;
    width: 20px;
    cursor: pointer;
}
.sidebar-clear {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
    color: var(--secondary-color);
}
.sidebar-list {
    margin-top: 2.5rem;
    padding-left: 10px;
    color: var(--secondary-color);
    overflow: hidden;
}
.side-list > a {
    color: var(--secondary-color);
}
.side-list {
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 7px;
    width: 120%;
    font-weight: bold;
    transition: all 0.4s ease;
    color: var(--secondary-color);

}
.side-list:hover, .side-list:focus {
    background-color: #3f3d56;
    margin-left: -10px;
}
.side-list:hover > a, .side-list:focus > a {
    color: white;
}
main {
    margin-top: 5rem;
}
.blob {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: #ece6e6;
    background-image: url(./images/profile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    border: 5px solid var(--blob-color);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: blobber 8s ease-in-out infinite; 
    /*border-radius: 2.5rem;
    border-top-right-radius: 3.5rem;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 7rem;*/
}
@keyframes blobber {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.intro-text {
    padding: .7rem;
    text-align: center;
}
.intro-text > h2 {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    color: var(--secondary-color);
}
.intro-text > p {
    font-size: clamp(1rem, 1.05rem, 1.15rem);
    line-height: 1.4;
}
.welcome {
    margin: .5rem 0 1rem 0;
    text-align: center;
}
.welcome > img {
    width: clamp(6.5rem, 7rem, 10rem);
}
.lang-head {
    width: 30%;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .6rem;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.lang-head > .fa-arrow-right {
    display: none;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.icon-holder {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-holder > img {
    width: 24px;
}
#about {
    width: 90%;
    text-align: center;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45); 
    background-image: url(./images/about-img.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#about > h4 {
    font-size: 1.2rem;
}
#about > p {
    text-align: left;
    line-height: 1.4;
    font-weight: bold;
}
#portfolio {
    background-color: #ece6e6;
    padding: .5rem;
}
#portfolio > h2 {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #212121;
}
.port {
    width: 90%;
    border-radius: 1rem;
    background-color: var(--body-color);
    color: var(--secondary-color);
    padding: .7rem;
    margin: 1rem auto;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
    text-align: center;
}
.port > .link-img > img {
    width: 85%;
    margin: 1rem auto;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
}
.portfolio-text > h4 {
    margin-top: -1px;
    font-size: clamp(1.2rem, 3.5vw, 4rem);
    color: var(--secondary-color);
}
.portfolio-text> p {
    color: var(--secondary-color);
}
.port-container {
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
}
.portfolio-lang {
    font-size: clamp(.7rem, .9rem, 1.1rem);
    padding: 5px 5px;
    border-radius: .3rem;
    color: var(--secondary-color);
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.45);
    cursor: pointer;
}
.code {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.git, .live {
    cursor: pointer;
}
.code > .git > span{
    font-size: clamp(1rem, 1.05rem, 1.3rem);
    color: var(--secondary-color);
}
.code > .git > .fa-github{
    font-size: clamp(1rem, 1.05rem, 1.3rem);
    color: var(--secondary-color);
}
.code > .live > span {
    font-size: clamp(1rem, 1.05rem, 1.3rem);
    color: var(--secondary-color);
}
#contact {
    padding: 1rem;
    text-align: center;
}
.contact-icon {
    margin: 1rem auto;
}
.contact-icon > img {
    width: 20px;
}
.contact-extra > p {
    margin-top: -10px;
}
footer {
    background-color: #3f3d56;
    text-align: center;
    padding: 1rem 1rem;
}
.sprites > .fa-twitter {
    color: #fff;
    font-size: 1.1rem;
    margin-right: .7rem;
}
.sprites > .fa-github {
    color: #fff;
    font-size: 1.1rem;
}
.copy {
    color: #fff;
    margin-top: 2px;
}
@media (min-width: 800px) {
    .heading {
        margin-bottom: 0;
    }
    .heading > h2 {
        font-size: 1.4rem;
    }
    main {
        margin-top: 5.5rem;
    }
    .hamburger {
        display: none;
    }
    /*header > .light-dark {
        display: block;
        width: 20px;
        cursor: pointer;
    }*/
    .navbar-list {
        display: block;
        flex: 1;
        text-align: right;
    }
    .nav-list {
        cursor: pointer;
        font-size: .875rem;
        color: var(--secondary-color);
        transition: all 0.3s ease;
        font-weight: bold;
        display: inline-block;
        margin: 10px 1rem;
    }
    .nav-list > a {
        color: var(--secondary-color);
    }
    .nav-list:hover, .nav-list:focus {
        transform: scale(1.2);
    }
    .nav-list:hover > a, .nav-list:focus > a {
        color: #4b4491;
    }
    .intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        background-image: url(./images/blob2.svg), url(./images/blob2.svg);
        background-position: 80% 0, -3% 50%;
        background-repeat: no-repeat, no-repeat;
        background-size: 30%, 30%;
    }
    .intro-text {
        width: 60%;
    }
    .welcome {
        margin-bottom: 0;
        margin-top: -20px;
    }
    .p-languages {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-bottom: 5rem;
    }
    .lang-head {
        border-bottom: none;
        font-size: 1.2rem;
        margin: 0;
    }
    .lang-head > .fa-arrow-right {
        display: inline;
    }
    .icon-container {
        margin: -10px 0 0 -1rem;
    }
    .icon-holder {
        width: 55px;
        height: 55px;
    }
    .icon-holder > img {
        width: 30px;
    }
    #about > h3 {
        font-size: 1.5rem;
    }
    .port {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .portfolio-text {
        width: 100%;
        padding-block: .5rem;
    }
    .portfolio-text > h4 {
        margin-bottom: 0;
        font-size: clamp(1.2rem, 3vw, 2.7rem);
    }
    .portfolio-text > p {
        font-size: clamp(.8rem, 1rem, 1.3rem);
    }
    .port-container {
        gap: 1rem;
    }
    .portfolio-lang {
        padding: 7px;
        font-size: clamp(.8rem, 1rem, 1.2rem);
    }
    .vanil {
        width: 6.5rem;
    }
    .church-code {
        margin-top: 3rem;
    }
    #contact {
        background-image: url(./images/blob.svg), url(./images/blob2.svg);
        background-position: 65% 0, -30% -65%;
        background-repeat: no-repeat, no-repeat;
        background-size: 35%, 45%;
    }
    #contact > h4 {
        font-size: 1.15rem;
    }
    #contact > h3 {
        font-size: 1.3rem;
    }
    .contact-icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sprites > .fa-twitter, .sprites > .fa-github {
        font-size: 1.3rem;
    }
}